.main {
    background-color: #f1f1f1;
    min-height: 100vh;
}

.cards {
    background-color: #000000b7;
    border-radius: 20px;
    margin: auto;
    width: 75vh;
    height: fit-content;
    padding: 30px;
    margin-bottom: 100px;
}

.inputNames {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: #ff9100;
    text-shadow: -1px 2px #000000;
}

.cards input {
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    border: 2px solid #ff9100;
    border-radius: 5px;
}

.cards input::placeholder {
    color: white;
}

.cards input:focus {
    outline: none;
}

.dropdown {
    display: flex;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    border: 2px solid #ff9100;
    border-radius: 5px;
    text-shadow: -1px 2px #000000;
}

.dropdown option {
    background-color: #000000;
    color: white;
}

.dropdown:focus {
    outline: none;
}

.temp {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: #ff9100;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

.tempContainer {
    display: flex;
    justify-content: center;
}

.closeBtn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
    color: #961600;
    padding: 5px;
    text-shadow: 1px 1px #ffffff;
}

.btnSubmit {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: transparent;
    color: #ff9100;
    text-shadow: 2px 2px 1px #000000;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ff9100;
}

.btnSubmit:hover {
    color: #000000;
    text-shadow: 2px 2px 1px #ff9100;
    background-color: transparent;
    border: 1px solid #ff9100;
}

.errorMsg {
    text-align: center;
    color: #ff9100;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    letter-spacing: 1px;
}

.form {
    margin: auto;
}