/* .main {
    background-image: url('../fondocards.jpg');
    height: 100%;
} */

.main {
    background: url(../img/este.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}